body {
    margin: 0;
    background: #222;
}

$happy-snail-color: #4df775;
$scared-snail-color: #fae84b;

svg {
    display: block;
    margin: 20px auto;
    height: 200px;
    width: 300px;
    // background-color: black;
    fill: none;
    stroke: white;
    stroke-width: 1;
    stroke-linecap: round;
    stroke-linejoin: round;

    path,
    circle {
        pointer-events: none;
        transition: stroke 1s ease-in-out;
    }
}

#snail:hover {
    stroke: $scared-snail-color;
    svg {
        stroke: $scared-snail-color;
    }
}

.happy-snail {
    stroke: $happy-snail-color;
    svg {
        stroke: $happy-snail-color;
    }
}

h1 {
    text-align: center;
    color: white;
}
