* {
    background: #222;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    margin: 0;
}

a {
    color: lightblue;
}

$happy-snail-color: #cbffda;
$scared-snail-color: #fffac8;
$sad-snail-color: #caf0ff;

svg {
    display: block;
    margin: 20px auto;
    height: 200px;
    width: 300px;
    stroke-linecap: round;

    path,
    circle {
        pointer-events: none;
        transition: stroke 1s ease-in-out;
    }
}

#snail:hover {
    path,
    circle {
        stroke: $scared-snail-color;
    }
}
.happy-snail {
    path,
    circle {
        stroke: $happy-snail-color;
    }
}
.sad-snail {
    path,
    circle {
        stroke: $sad-snail-color;
    }
}

h1 {
    text-align: center;
}

textarea {
    margin: auto;
    display: block;
    width: 300px;
    height: 300px;
}

.center {
    display: table;
    margin: 0 auto;
}

button {
    background-color: #555;
    margin: 10px;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 12px;
    transition: background-color 0.5s ease-in-out;
}

button:hover {
    background-color: rgb(64, 112, 24);
}
